@font-face {
    font-family: "Atlantic Medium";
    src: url("../../fonts/HWAtlantic-Medium.otf");
}

@font-face {
    font-family: "Atlantic Semibold";
    src: url("../../fonts/HWAtlantic-Semibold.otf");
}

body {
 background-color: white;
}


@media screen and (min-width: 800px) {

}