/* 
 *
 * ANCHOR Fonts
------------------------------------------------*/
@font-face {
    font-family: 'Archer';
    src: url('/../fonts/Archer/HCo_Archer_Complete_Web/hco_fonts/woff2/Archer-Black-Pro_Web.woff2') format('woff2');
    font-weight: 800;
}
@font-face {
    font-family: 'Archer';
    src: url('/../fonts/Archer/HCo_Archer_Complete_Web/hco_fonts/woff2/Archer-Book-Pro_Web.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Archer';
    src: url('/../fonts/Archer/HCo_Archer_Complete_Web/hco_fonts/woff2/Archer-Semibold-Pro_Web.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Newsreader';
    src: url('/../fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf') format('woff2');
}

/* 
 *
 * ANCHOR Variables  
------------------------------------------------*/
:root {

	/* colors */
	--teal: #09B4A4;
	--sky: #03A2D6;
	--grape: #733F8B;
	--rose: #D4227C;
	--watermelon: #F53F4E;
	--tangerine: #FB7900;
	--lemon: #FFAB00;

	--teal35: #A9E5DF;
	--sky35: #A7DFF1;
	--grape35: #CEBCD7;
	--rose35: #F0B2D1;
	--watermelon35: #FCBCC1;
	--tangerine35: #FED0A6;
	--lemon35: #FFE2A6;
}

/* 
 *
 * ANCHOR Color Context  
------------------------------------------------*/
.color-context--teal {
	--current-color: var(--teal);
}
.color-context--sky {
	--current-color: var(--sky);
}
.color-context--grape {
	--current-color: var(--grape);
}
.color-context--rose {
	--current-color: var(--rose);
}
.color-context--watermelon {
	--current-color: var(--watermelon);
}
.color-context--tangerine {
	--current-color: var(--tangerine);
}
.color-context--lemon {
	--current-color: var(--lemon);
}

.color-context--teal35 {
	--current-color: var(--teal35);
}
.color-context--sky35 {
	--current-color: var(--sky35);
}
.color-context--grape35 {
	--current-color: var(--grape35);
}
.color-context--rose35 {
	--current-color: var(--rose35);
}
.color-context--watermelon35 {
	--current-color: var(--watermelon35);
}
.color-context--tangerine35 {
	--current-color: var(--tangerine35);
}
.color-context--lemon35 {
	--current-color: var(--lemon35);
}


/* 
 *
 * ANCHOR Global
------------------------------------------------*/
body {
 	background-color: white;
}
img {
	display: block;
}

/* 
 *
 * ANCHOR Section Hero
------------------------------------------------*/
.section-hero {
	padding-bottom: 5em;
	background-color: var(--current-color);
	&__running-head {
		text-align: center;
		margin-bottom: 5em;
		h3 {
			font-family: 'Poppins', sans-serif;
			font-weight: 800;
			font-size: 10em;
			color: white;
		}
		p {
			font-family: 'Poppins', sans-serif;
			font-weight: 400;
			margin-top: -3em;
			color: white;
		}
	}
	&__image {
		margin: 1em;
		margin-bottom: 2.5em;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		text-align: center;
		margin: 0 3em;
		margin-bottom: 5em;
		h2 {
			font-family: 'Archer';
			font-weight: 800;
			font-size: 3em;
			line-height: 100%;
			color: white;
		}
	}
	&__button {
		font-family: 'Archer';
		font-weight: 300;
		font-size: 1.2em;
		color: white;
		background-color: #FB7900;
		border: solid white 1px;
		border-radius: 10px;
		padding: 0.9em 2em;
		margin-bottom: 1em;
		box-shadow: 0px 1.92px 1.92px 0px rgba(0, 0, 0, 0.25);
	}
}

/* 
 *
 * ANCHOR Section Content
------------------------------------------------*/
.section-content {
	&__slide {
		padding: 4em 2em;
		background-color: var(--current-color);
		&-text {
			font-family: 'Newsreader';
			font-weight: 400;
			font-size: 1.1em;
			line-height: 140%;
			&--white {
				color: white;
			}
			&--watermelon {
				color: #F53F4E;
			}
		}
		&-quote {
			font-family: 'Archer';
			font-weight: 400;
			font-size: 3em;
			color: white;
			&--small {
				font-size: 1.5em;
				margin-bottom: 0.5em;
			}
		}
		&-caption {
			font-family: 'Poppins', sans-serif;
			font-weight: 200;
			font-size: 0.8em;
			margin-top: 2em;
			color: white;
		}
		&-subhead {
			font-family: 'Poppins', sans-serif;
			font-weight: 200;
			font-size: 0.9em;
			margin-bottom: 0.8em;
			color: white;
			&--graph {
				font-family: 'Archer';
				font-weight: 500;
				font-style: italic;
				font-size: 1.2em;
				color: var(--grape);
			}
		}
		&-subsection-head {
			font-family: 'Archer';
			font-weight: 400;
			font-size: 1.2em;
			color: white;
			&--large {
				font-size: 2.2em;
				margin-bottom: 1em;
			}
		}
		&-head {
			font-family: 'Newsreader';
			font-weight: 800;
			font-size: 4em;
			overflow-wrap: break-word;
			hyphens: auto;
			margin-top: -0.4em;
			color: white;
			&--small {
				font-size: 2em;
			}
		}
		&-stats {
			text-align: center;
			margin-bottom: 8em;
			&-number {
				font-family: 'Newsreader';
				font-weight: 800;
				font-size: clamp(1em, 5em, 18vw);
				&--trillion {
					font-size: 22vw;
				}
				&--white {
					color: white;
				}
				&--grape {
					color: var(--grape);
				}
				&--grape35 {
					color: #9771A9;
				}
			}
			&-caption {
				font-family: 'Newsreader';
				font-weight: 400;
				font-size: 0.9em;
				margin-bottom: 1em;
				&--trillion {
					font-size: 2em !important;
				}
				&--finances {
					font-family: 'Poppins', sans-serif;
					font-weight: 200;
					font-size: 1em;
				}
				&--white {
					color: white;
				}
				&--poppins {
					font-family: 'Poppins', sans-serif;
					font-weight: 600;
					font-size: 0.8em;
				}
			}
			&--finances {
				margin-top: 7em;
				margin-bottom: 0 !important;
			}
		}
	}
	// &__image {
	// 	&--scroller {
	// 		display: flex;
	// 	}
	// }
}

/* 
 *
 * ANCHOR Capital Improvements
------------------------------------------------*/
.our-partners {
	&__menu {
		text-align: center;
		button {
			font-family: 'Poppins', sans-serif;
			font-weight: 300;
			font-size: 1em;
			text-transform: uppercase;
			margin: 3em 0;
		}
		ul {
			button {
				font-family: 'Newsreader';
				font-weight: 400;
				font-size: 1.2em;
				background-color: rgb(255, 255, 255);
				border-radius: 10px;
				padding: 2em;
				text-decoration: none;
				text-transform: capitalize;
				a {
					text-decoration: none;
				}
			}
		}
		&-center {
			width: 40vw;
			margin-left: auto;
			margin-right: auto;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 1em;
			}
			p {
				font-family: 'Archer';
				font-weight: 500;
				font-style: italic;
				font-size: 1em;
				color: var(--watermelon);
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.section-hero {
		height: 100vh;
		&__running-head {
			position: absolute;
			z-index: 2;
			display: flex;
			width: fit-content;
			left: 0; 
			right: 0; 
			margin-left: auto;
			margin-right: auto;
			padding-top: 5em;
			align-items: center;
			h3 {
				font-size: 1.2em;
				margin-right: 0.2em;
			}
			p {
				margin-top: 0em;
			}
		}
		&__title {
			position: absolute;
			z-index: 2;
			height: 100vh;
			width: 100vw;
			display: grid;
			place-content: center;
			margin: 0;
		}
		&__image {
			position: absolute;
			z-index: 1;
			height: 90vh;
			width: 94vw;
			margin: 5vh 2vw;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.section-content {
		&__slide {
			height: 100vh;
			width: 50%;
			display: grid;
			grid-auto-flow: row;
			place-content: center;
			&-text {
				max-width: 45ch;
				font-size: 1.3em;
				padding: 0em 2em;
			}
			&-quote {
				font-size: 3.5em;
				padding: 0em 2em;
				&--small {
					font-size: 2em;
				}
			}
			&-caption {
				font-size: 0.9em;
				margin-left: 45%;
				&--capital-improvements {
					margin-left: 0;
					padding: 0em 2.5em;
				}
			}
			&-subhead {
				padding: 2em 5.5em;
				margin-top: -40vh;
			}
			&-subsection-head {
				font-size: 1.7em;
				color: white;
				padding: 0;
				&--large {
					font-size: 3em;
					margin-bottom: 1em;
					padding: 0em 0.8em;
				}
				&--impact {
					padding: 0em 3.5em;
				}
			}
			&-head {
				font-size: 5.5em;
				padding: 0 2em;
				&--small {
					font-size: 2.5em;
					margin-top: -25vh;
				}
			}
			&-stats {
				&-caption {
					max-width: 30ch;
					line-height: 140%;
					font-size: 1.1em;
					&--finances {
						width: 100%;
						text-align: center;
						margin-left: auto;
						margin-right: auto;
					}
				}
				&-number {
					&--trillion {
						font-size: 10vw;
					}
				}
			}
		}
		&__image {
			height: 100vh;
			width: 50%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.introduction {
		&__1 {
			margin-left: 50%;
		}
		&__2 {
			margin-top: -100vh;
		}
		&__3 {
			margin-left: 50%;
		}
		&__5 {
			margin-left: 50%;
		}
		&__6 {
			width: 100% !important;
		}
		&__7 {
			margin-top: -80vh;
			height: 80vh;
			background-color: transparent; 
		}
	}
	.impact {
		&__1 {
			width: 50% !important;
			p {
				margin-top: -40vh;
			}
		}
		&__2 {
			width: 100% !important;
			margin-left: 25%;
			margin-top: -100vh;
			position: relative;
			&--1 {
				position: absolute;
				top: 15vh;
				left: 15vw;
			}
			&--2 {
				position: absolute;
				top: 37vh;
				left: 40vw;
			}
			&--3 {
				position: absolute;
				top: 65vh;
				left: 11vw;
			}
		}
		&__3 {
			width: 100% !important;
			margin-left: 25%;
			position: relative;
			&--1 {
				position: absolute;
				top: 10vh;
				left: 35vw;
			}
			&--2 {
				position: absolute;
				top: 45vh;
				left: 15vw;
			}
		}
		&__4 {
			width: 50% !important;
			p {
				margin-top: -40vh;
			}
		}
		&__5 {
			width: 100% !important;
			margin-left: 25%;
			margin-top: -100vh;
			position: relative;
			&--1 {
				position: absolute;
				top: 15vh;
				left: 35vw;
			}
			&--2 {
				position: absolute;
				top: 37vh;
				left: 10vw;
			}
			&--3 {
				position: absolute;
				top: 65vh;
				left: 40vw;
			}
		}
		&__6 {
			width: 100% !important;
			margin-left: 25%;
			position: relative;
			&--1 {
				position: absolute;
				top: 15vh;
				left: 15vw;
			}
			&--2 {
				position: absolute;
				top: 37vh;
				left: 40vw;
			}
			&--3 {
				position: absolute;
				top: 65vh;
				left: 11vw;
			}
		}
		&__7 {
			width: 100% !important;
			margin-left: 25%;
			position: relative;
		}
		&__8 {
			margin-left: 50%;
		}
		&__9 {
			margin-top: -100vh;
		}
		&__10 {
			margin-left: 50%;
		}
		&__13 {
			p {
				padding: 0 0em !important;
			}
		}
		&__14 {
			margin-left: 50%;
			margin-top: -100vh;
			img {
				width: 100%;
				height: 50%;
				object-fit: cover;
			}
		}
		&__16 {
			margin-left: 50%;
		}
	}
	.finances {
		&__2 {
			margin-left: 50%;
			margin-top: -100vh;
		}
		&__3 {
			width: 25vw !important;
		}
		&__4 {
			width: 75vw !important;
			margin-left: 25%;
			margin-top: -100vh;
		}
		&__5 {
			width: 25vw !important;
			margin-left: 75%;
		}
		&__6 {
			width: 75vw !important;
			margin-top: -100vh;
		}
		&__7 {
			width: 25vw !important;
		}
		&__8 {
			width: 75vw !important;
			margin-left: 25%;
			margin-top: -100vh;
		}
	}
	.capital-improvements {
		&__1 {
			margin-left: 50%;
		}
		&__2 {
			margin-top: -100vh;
			&--2 {
				width: 100%;
				height: 50% !important;
				object-fit: cover !important;
			}
			&--3 {
				width: 100%;
				height: 50% !important;
				object-fit: cover !important;
			}
		}
		&__3 {
			&--2 {
				width: 100%;
				height: 50% !important;
				object-fit: cover !important;
			}
			&--3 {
				width: 100%;
				height: 50% !important;
				object-fit: cover !important;
			}
		}
		&__4 {
			margin-left: 50%;
			margin-top: -100vh;
			&--2 {
				width: 100%;
				height: 50% !important;
				object-fit: cover !important;
			}
			&--3 {
				width: 100%;
				height: 50% !important;
				object-fit: cover !important;
			}
			&-1 {
				margin-left: 50%;
			}
			&-2 {
				margin-left: 50%;
			}
		}
		&__5 {
			margin-left: 50%;
		}
		&__6 {
			margin-top: -100vh;
		}
	}
	.our-partners {
		&__2 {
			margin-left: 50%;
		}
		&__3 {
			width: 35% !important;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&__5 {
			width: 65% !important;
			margin-left: 35%;
			display: flex;
			&--1 {
				width: 60%;
				height: 90%;
				object-fit: cover;
			}
			&--2 {
				width: 40%;
				height: 40%;
				object-fit: cover;
			}
		}
		&__6 {
			margin-left: 50%;
		}
		&__8 {
			width: 100% !important;
		}
		&__menu {
			position: relative;
			button {
				text-align: center;
			}
			ul {
				display: none;
			}
			&-center {
				width: 10vw;
				height: 10vw;
				position: absolute;
				top: 35vh;
				left: 45vw;
			}
			&-government-partners {
				width: 10vw;
				position: absolute;
				top: 20vh;
				left: 10vw;
			}
			&-educators {
				width: 10vw;
				position: absolute;
				top: 10vh;
				left: 45vw;
			}
			&-foster-families {
				width: 10vw;
				position: absolute;
				top: 20vh;
				left: 75vw;
			}
			&-arts-community {
				width: 10vw;
				position: absolute;
				top: 55vh;
				left: 10vw;
			}
			&-wildlife {
				width: 10vw;
				position: absolute;
				top: 70vh;
				left: 45vw;
			}
			&-health {
				width: 10vw;
				position: absolute;
				top: 55vh;
				left: 75vw;
			}
		}
	}
}